
html, body {
	margin: 0;
}

body {
	padding: 40px;
	overflow: hidden;
	font-family: HelveticaNeue-Light,sans-serif;
	background-color: tomato;
}

h1 {
	margin-top: 0;
}

#coqhead {
	height: 200px;
	border-radius: 10px;
}